#heading {
   padding: 20px;
   height: 30px;
   margin-bottom: 10px;
   background: #dddddd;
   border: 1px solid darkGray;
}

#sidebarLeft {
   border: thin solid lightGray;
   padding: 5px;
   width: 196px;
   background: #eeeeee;
}

#content {
   padding: 5px;
   border: thin solid lightGray;
   background: #fefeef;
   position: absolute;
   right: 8px;
   left: 230px;
   height: 438px;
   top: 90px;
}

.header {
   font-size: 1.4em;
   font-style: italic;
   font-family: Palatino;
   text-align: center;
}

.airlineImage {
   padding: 5px;
   text-align: center;
}

.airlineImageSelected {
   padding: 5px;
   text-align: center;
   background: #fefeef;
   border: thin solid lightGray;
}

.welcome {
   font-style: italic;
   font-family: Palatino;
}

.welcomeImage {
   margin-top: 10px;
   text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nameoption{
	 text-align: center;
}

.filterclass{
	width: 55px !important
	text-size
}